# RAG API
RAG_API_URL=http://localhost:8000
BOT_SECRET=8599117797:AAEot7923k0XVicjCpoDC5BuD27iW801E14
ADMIN_TOKEN=1wSjYDrS_yZUmniuSzVnVg

# Knowledge Base IDs и инвайт-коды (многоразовые, без лимита)
KB_IT_ID=
KB_IT_CODE=

KB_HR_ID=
KB_HR_CODE=

# admin - административная деятельность
KB_ADMIN_ID=
KB_ADMIN_CODE=

KB_SALES_ID=
KB_SALES_CODE=

KB_MARKETING_ID=
KB_MARKETING_CODE=

KB_QA_ID=
KB_QA_CODE=

KB_LEGAL_ID=
KB_LEGAL_CODE=

KB_SEC_ID=
KB_SEC_CODE=

KB_FINANCE_ID=
KB_FINANCE_CODE=

# Telegram IDs тестовых пользователей
TEST_TELEGRAM_ID_1=
TEST_TELEGRAM_ID_2=
TEST_TELEGRAM_ID_3=
