# BOT
BOT_TOKEN=your_bot_token_here
ALLOWED_USER_IDS=gonna_be_in_postgres_in_future
INVITATION_CODE=my_secret_code_123

# POSTGRESQL
POSTGRES_DB=rag
POSTGRES_USER=rag_user
POSTGRES_PASSWORD=rag_password
POSTGRES_PORT=5432
POSTGRES_HOST=postgres
RAG_DATABASE_URL=postgresql+asyncpg://rag_user:rag_password@postgres:5432/rag

# LLM RAG
RAG_OLLAMA_BASE_URL=ollama_url
RAG_LLM_MODEL=qwen2.5:7b
RAG_EMBED_MODEL=bge-m3:latest
RAG_EMBED_DIM=1024
RAG_CHUNK_SIZE=800
RAG_CHUNK_OVERLAP=100
RAG_TOP_K=4

# RAG API
RAG_API_HOST=0.0.0.0
RAG_API_PORT=8000
